@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

:root {
	--black: #000000;
	--white: #ffffff;
	--bg-primary: #111111;
	--bg-main: #2d2f5b;
}

html,
body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

a {
	text-decoration: none;
	font-style: italic;
	font-weight: 400;
}

a:link,
a:active {
	color: #1565c0;
}

a:hover,
a:visited {
	color: #0d47a1;
}

.d-grd {
	display: grid;
}

.d-flx {
	display: flex;
}

.m-0 {
	margin: 0;
}

.m-y0-xa {
	margin: 0 auto;
}

.size-100p-a {
	width: 100%;
	height: 100%;
}

#header-container {
	background-color: var(--bg-primary);
	padding: 2.3em 0;
}

#header-container a {
	display: block;
	margin-top: 1.5em;
	font-size: 1.2em;
	text-align: center;
	color: #e1e1e1;
}

.page-title {
	font-weight: 600;
	font-size: 2.3em;
	color: var(--white);
	text-align: center;
}

#primary-content {
	background-color: var(--bg-main);
}

#primary-content>div {
	max-width: 1300px;
	padding: 2.3em 0;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.random-image-container {
	width: 30%;
	background-color: #e1e1e1;
	margin-bottom: 2em;
	min-width: 340px;
	padding: 2%;
	box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.5);
}

.random-image-container:last-child,
.random-image-container:nth-last-child(2),
.random-image-container:nth-last-child(3) {
	margin-bottom: 0;
}

.image-container {
	overflow-y: hidden;
}

.unsplash-img {
	max-width: 100%;
}

.img-details {
	text-align: center;
}

@media screen and (max-width: 1050px) {
	#primary-content {
		padding: 2.3em 5%;
	}

	.random-image-container:nth-last-child(3) {
		margin-bottom: 2em;
	}
}

@media screen and (max-width: 800px) {
	.random-image-container {
		min-width: 300px;
	}
}

@media screen and (max-width: 750px) {
	.random-image-container {
		min-width: 340px;
	}

	.random-image-container:nth-last-child(2),
	.random-image-container:nth-last-child(3) {
		margin-bottom: 2em;
	}

	.random-image-container:last-child {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 400px) {
	.random-image-container {
		min-width: 300px;
	}
}

#footer-container {
	background-color: var(--bg-primary);
	height: 50px;
}